<div class="w-full max-w-2xl h-[65vh] overflow-y-auto bg-gray-200 rounded my-4 p-4">
  <% @messages.each do |message| %>
    <div class="mb-4 flex justify-between items-center">
      <div>
        <strong><%= message.user.username %></strong>
        <span class="text-gray-700" ><%= message.content %></span>
      </div>
      <span class="text-gray-500 text-xs ml-2"><%= message.created_at.strftime("%Y-%m-%d | %H:%M") %></span>
    </div>
  <% end %>
</div>